<form [formGroup]="form" (ngSubmit)="onSubmit()" style="margin-top: 50px;">

    <mat-form-field appearance="fill">
        <input matInput placeholder="cin" formControlName="cin">
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
        <input matInput placeholder="nom" formControlName="nom">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <input matInput placeholder="prenom" formControlName="prenom">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Date de naissance</mat-label>
        <input 
          matInput 
          placeholder="MM/DD/YYYY" 
          [matDatepicker]="picker" 
          formControlName="dateNaissance">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>      
    <br>
    <mat-form-field appearance="fill">
        <mat-select matInput placeholder="type" formControlName="type">
            <mat-option value="etudiant">Étudiant</mat-option>
            <mat-option value="enseignant">Enseignant Chercheur</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <input matInput placeholder="cv" formControlName="cv">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com"
        />
        <mat-error *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      
      


    <br>
    <button type="submit" mat-raised-button color="primary">Submit</button>
</form>