<div class="dashboard-container">
  <!-- Stats Cards -->
  <div class="stats-cards">
    <mat-card>
      <mat-card-header>
        <mat-icon class="card-icon">people</mat-icon>
        <mat-card-title>Members</mat-card-title>
        <mat-card-subtitle>{{nb_Members}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-icon class="card-icon">event</mat-icon>
        <mat-card-title>Events</mat-card-title>
        <mat-card-subtitle>{{nb_Events}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-icon class="card-icon">article</mat-icon>
        <mat-card-title>Publications</mat-card-title>
        <mat-card-subtitle>{{nb_Articles}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-icon class="card-icon">school</mat-icon>
        <mat-card-title>Teachers</mat-card-title>
        <mat-card-subtitle>{{nbteacher}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-icon class="card-icon">face</mat-icon>
        <mat-card-title>Students</mat-card-title>
        <mat-card-subtitle>{{nbstudent}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
